<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tinv_csharp_api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="tinv_services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="tinv-csharp-api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
      <tinv_csharp_api.Properties.Settings>
        <setting name="tinv_csharp_api_userServices_GatewayServiziUtente_service"
          serializeAs="String">
          <value>https://tinv.andxor.it:443/userServices</value>
        </setting>
      </tinv_csharp_api.Properties.Settings>
      <tinv_services.Properties.Settings>
        <setting name="tinv_csharp_api_userServices_GatewayServiziUtente_service"
          serializeAs="String">
          <value>https://tinv.andxor.it:443/userServices</value>
        </setting>
      </tinv_services.Properties.Settings>
      <tinv-csharp-api.Properties.Settings>
            <setting name="tinv-csharp-api_userServices_GatewayServiziUtente_service"
                serializeAs="String">
                <value>https://tinv.andxor.it:443/userServices</value>
            </setting>
      </tinv-csharp-api.Properties.Settings>
    </applicationSettings>
</configuration>